body {
    font-family: sans-serif;
}
h1, h2, h3 {
    color: #3a83fd;
}

h4, h5, h6 {
    color: #000000;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.custom-tabs-container {
    width: 85%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent ;
    border-left: 0px;
    border-right: 0px ;
    border-bottom: 0px;
    background-color: #fafbfc;
    padding: 12px;
    font-family: "system-ui";
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 3px solid #e36209;
}

.blue-button {
    background-color: #2f99c0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.green-button {
    background-color: #64c279;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 140px;
}


.custom-tooltip {
    left: 10px !important;
    width: 600px !important;
}


.custom-delete-button {
  background-color: rgba(200, 200, 200, 0.5);
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.custom-delete-button:hover {
  background-color: rgba(180, 180, 180, 0.7);
  transform: scale(1.05);
}